<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zmm.mpandroidchartdemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".act.MPOneActivity"/>

        <activity android:name=".act.MPTwoActivity"/>

        <activity android:name=".act.CustomOneActivity"/>

        <activity android:name=".act.CustomTwoActivity"/>

        <activity android:name=".act.FastJsonActivity"/>
    </application>

</manifest>